<h1>Login</h1>
<form (submit)="doLogin()" #loginForm="ngForm">
  <div>
    <md-input type="email" placeholder="Your email">

    </md-input>
  </div>
  <div>
    <md-input [(ngModel)]="password"
              name="password"
              minlength="8" type="password" placeholder="Your password"
              #spy1="ngModel" required>
    </md-input>
    <span *ngIf="spy1.touched && !spy1.valid">Error Will Robinson</span>
  </div>
  <div>
    {{spy1.pristine}}|{{spy1.touched}}|{{spy1.valid}}
  </div>
  <button md-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
</form>

